mv-*.tar.gz
mz-*.tar.gz
mv-*.tar.xz
mz-*.tar.xz
cheat-version-description.json
node_modules/
cheat-engine/www/cheat/init/setup.js
cheat-engine/www/cheat/init/setup.css
src/version.ts
.history
.vscode
